* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    flex-wrap: wrap;
    display: flex;
    gap: 232.5px;
}

.logo {
    padding: 21.84px 0px;
    margin-left: 165px;
}

.list ul {
    padding: 36px 0px;
    display: flex;
    list-style-type: none;
    gap: 60px;
}


a {
    text-decoration: none !important;
    color: #3f3f46;
}


.icon ul {
    display: flex;
    list-style-type: none;
    gap: 24px;
    padding: 36px 0px;
}

.collection-section {
    flex-wrap: wrap;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0px 165px;
    display: flex;
    text-align: center;
    gap: 30px;
   
}


.collection{
 
    width: calc((100% - 90px) /4);
}

img{
    width: 100%;
}

h2 {
    margin-top: 23px;
    color: #3f3f46;
}


.Bestsellers {
    flex-wrap: wrap;
    display: flex;
    gap: 40px;
    text-align: left;
    padding-left:165px ;
    padding-right: 165px;
}


.Bestsellers h2 {

    padding: 24px 0px;
    font-size: medium;
}

.Bestsellers p {
  
    font-size: smaller;
    color: #434343;
    width: 255px;
    height: 32px;
    padding-bottom: 58px;
}

.Bestsellers button {
    width: 255px;
    height: 39px;

}

.v2 {
 
    padding-bottom: 80px;
    background-color: #EEEEEE;

}

h1 {
    padding: 80px 0px;

    text-align: center;
}



.size {
    width: calc((100% - 120px) /4);
}