* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    --primary-color: #3A3845;
    --primaryfont: Inter;
    --secondary-color: #E5E5E5;
}

/*
.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
}*/

.cont {
    width: calc(100% -300px);
    margin: 0 auto;
    padding-left: 165px;
    padding-right: 165px;
}


.header {

    align-items: center;
    flex-wrap: wrap;
    display: flex;
    gap: 232.5px;
    padding: 21.84px 0px;
    justify-content: center;
}

.menu {
    display: none;
}

.shopping {
    display: none;
}

.list ul {
    font-size: 14px;
    padding: 36px 0px;
    display: flex;
    list-style-type: none;
    gap: 60px;
}


.list a {
    font-family: "Inter", sans-serif;
    text-decoration: none !important;
    color: var(--primary-color);
}


.icon ul {
    display: flex;
    list-style-type: none;
    gap: 24px;
    padding: 36px 0px;
}

.collection-section {
    flex-wrap: wrap;
    padding-top: 40px;
    /* padding-bottom: 40px;
    margin: 0px 165px;*/
    display: flex;
    text-align: center;
    gap: 30px;

}


.collection {

    width: calc((100% - 90px) /4);
}

img {
    width: 100%;
    display: block;
}

h2 {
    margin-top: 23px;
    color: var(--primary-color);

}

.collection h2 {
    font-family: var(--primaryfont);
}


.Bestsellers {
    flex-wrap: wrap;
    display: flex;
    gap: 40px;
    text-align: left;

}



.Bestsellers h2 {

    padding-bottom: 12px;
    color: var(--primary-color);
    font-size: 14px;
    font-family: var(--primaryfont);
}

.Bestsellers p {
    font-family: var(--primaryfont);
    font-size: 16px;
    color: #807F86;
    width: 255px;
    height: 32px;
    padding-bottom: 58px;
}


.Bestsellers span {
    font-family: var(--primaryfont);
    font-size: 16px;
    color: var(--primary-color);
    font-weight: bold;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}


.Bestsellers button {
    width: 265px;
    height: 39px;
    font-family: var(--primaryfont);
    font-weight: 500;
    background-color: white;
}

.v2 {
    padding-bottom: 80px;
    /*
    background-color: #EEEEEE;*/
}




.Bestsellers h1 {
    padding-left: 370px;
    padding-right: 300px;
    padding-top: 80px;
    /*
    padding-bottom: 48px;*/
    font-size: 30px;
    text-align: center;
}


.v2 h1 {

    padding-top: 80px;
    padding-bottom: 48px;
    font-size: 30px;
    text-align: center;
}

.size {
    width: calc((100% - 120px) /4);
}



.ecommerce {
    display: flex;
    flex-wrap: wrap;
    /*
    padding-left: 165px;
    padding-right: 165px;*/
    padding-top: 80px;
}

.ecommerce h1 {
    padding-left: 500px;
    padding-right: 500 px;
    padding-top: 0px;
    margin: 0;
    padding-bottom: 48px;
    text-align: center;
}


.grid {
    text-align: center;
    background-color: #f8f6f6;
    width: 555px;
    height: 348px;
}

.grid h2 {
    /*
    padding-top: 64px;*/
    padding-bottom: 0px;
    padding-left: 78.5px;
    padding-right: 78.5px;
    font-size: 28px;

}

h4 {

    padding-top: 64px;
    padding-bottom: 0px;
    padding-left: 78.5px;
    padding-right: 78.5px;
    font-size: 28px;

}


h3 {
    padding-top: 64px;
    /*
    padding-bottom: 24px;*/
    font-family: var(--primaryfont);
    color: #807F86;
    font-size: 18px;
    font-weight: 600;
}

.grid p {
    padding-top: 24px;
    padding-bottom: 32px;
    padding-left: 83px;
    padding-right: 83px;
    text-align: center;
    font-size: 18px;
    color: #595667;
    font-family: var(--primaryfont);
}


.imgg {
    width: 555px;
    height: 348px;
}

.grid a {

    padding-bottom: 64px;
    font-size: 16px;
    color: #595667;
    font-family: var(--primaryfont);
    font-weight: bold;

}


.row-sec {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
}


.row {
    background-color: #f8f6f6;
    text-align: center;
    width: 555px;
    height: 348px;
}

.row h2 {
    color: var(--primary-color);
    padding-top: 64px;
    padding-bottom: 24px;
    padding-left: 78.5px;
    padding-right: 78.5px;
    font-size: 30px;
}

.row p {
    font-family: var(--primaryfont);
    padding-top: 0px;
    padding-bottom: 32px;
    padding-left: 83px;
    padding-right: 83px;
    text-align: center;
    font-size: 18.89px;
    color: #595667;

}

.row a {
    font-family: var(--primaryfont);
    font-weight: bold;
    font-size: 20px;
    color: var(--primary-color);
}

.row-sec img {
    width: 555px;
    height: 348px;
}


.sign {
    text-align: center;
    padding-bottom: 80px;
}

.sign p {
    color: #595667;
    padding-bottom: 24px;
    padding-top: 80px;
    padding-left: 525.5px;
    padding-right: 525.5px;
    font-family: var(--primaryfont);
    font-weight: bold;
    font-size: 12px;
}

.sign h1 {
    color: rgb(42, 41, 41);
    padding-bottom: 24px;
}

.sign form {
    padding-bottom: 32px;
}

.sign button {
    padding-bottom: 15px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 15px;
    background-color: white;
    font-family: var(--primaryfont);
    font-weight: bold;
    color: var(--primary-color);
}


.footer {
    padding-top: 48px;
    display: flex;
    flex-wrap: wrap;
    background-color: #3f3d4a;
}

.footer-item1 img {
    width: 145px;
    height: 38.33px;
}

.arrow-img img {
    width: 11px;
    height: 11px;
}

.footer-item1 {
    padding-left: 245px;
    padding-right: 80.27px;
}

.footer-item1 p {
    padding-top: 24px;
    color: var(--secondary-color);
    padding-bottom: 32px;
    font-size: 15px;
    font-family: var(--primaryfont);
}


.footer-item1 button {
    background-color: #3f3d4a;
    width: 142px;
    height: 41px;
    display: flex;
    flex-wrap: wrap;
    font-size: medium;
    text-align: center;
    padding-top: 9px;
    padding-left: 25px;
    color: var(--secondary-color);
    font-family: var(--primaryfont);
}

.footer-item2 {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    padding-bottom: 70px;
}

.footer-item2 a {
    font-size: 12px;
    text-decoration: none !important;
    color: var(--secondary-color);
    font-family: var(--primaryfont);
}

.footer-item2 h1 {
    padding-bottom: 32px;
    color: var(--secondary-color);
    font-size: 12px;
    font-family: var(--primaryfont);

}


@media screen and (min-width:0px) and (max-width:996px) {
    .list ul {
        display: none;
    }

    .icon ul {
        display: none;
    }

    .menu {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .shopping {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .logo {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}



@media screen and (min-width:0px) and (max-width:500px) {

    .collection-section .collection {
        width: calc((100% - (1*30px)) / 1);
    }


}

@media screen and (min-width:501px) and (max-width:700px) {

    .collection-section .collection {
        width: calc((100% - (2*30px)) / 2);
    }


}

@media screen and (min-width:701px) and (max-width:1000px) {

    .collection-section .collection {
        width: calc((100% - (3*30px)) / 3);
    }

}

@media screen and (min-width:1001px) and (max-width:1450px) {

    .collection-section .collection {
        width: calc((100% - (4*30px)) / 4);
    }

}



@media screen and (min-width:0px) and (max-width:921px) {

    .Bestsellers h1 {
        font-size: 50px;
    }

    .Bestsellers .size {
        width: calc((100% - (1*30px)) / 1);

    }

    .Bestsellers img {
        width: 100%;
    }

}


@media screen and (min-width:921px) and (max-width:1000px) {
    .Bestsellers .size {
        width: calc((100% - (2*30px)) / 2);
    }

}

@media screen and (min-width:1001px) and (max-width:1400px) {
    .Bestsellers .size {
        width: calc((100% - (3*30px)) / 3);
    }

}

@media screen and (min-width:921px) and (max-width:1000px) {
    .Bestsellers .size {
        width: calc((100% - (4*30px)) / 4);
    }

}



@media screen and (min-width:486px) and (max-width:727px) {

    .ecommerce .grid {
        font-size: small;
    }

    .ecommerce .grid h4 {
        font-size: 20px;
        padding: 20px 0px 0px 0px;
    }

    .ecommerce .grid p {
        font-size: 17px;
        padding: 20px 0px;
    }

}



@media screen and (min-width:0) and (max-width:485px) {

    .ecommerce .grid {
        font-size: small;
    }

    .ecommerce .grid h4 {
        font-size: 20px;
        padding: 20px 0px 0px 0px;
    }

    .ecommerce .grid p {
        font-size: 13px;
        padding: 20px 0px;
    }

    .ecommerce .grid img {
        width: 100%;

    }
}